@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "tailwindcss-animate";

@theme {
  --breakpoint-xs: 475px;
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: #1e3a8a;
  --color-primary-100: #ffe8f0;
  --color-secondary: #fbe843;

  --color-black-: #000000;
  --color-black-100: #333333;
  --color-black-200: #141413;
  --color-black-300: #7d8087;

  --color-white-: #ffffff;
  --color-white-100: #f7f7f7;

  --font-work-sans: [var(--font-family-sans)];
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --shadow-100: 2px 2px 0px 0px rgb(0, 0, 0);
  --shadow-200: 2px 2px 0px 2px rgb(0, 0, 0);
  --shadow-300: 2px 2px 0px 2px rgb(238, 43, 105);
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

@utility pattern {
  background-image: linear-gradient(
    to right,
    transparent 49.5%,
    rgba(251, 232, 67, 0.2) 49.5%,
    rgba(251, 232, 67, 0.6) 50.5%,
    transparent 50.5%
  );
  background-size: 5% 100%;
  background-position: center;
  background-repeat: repeat-x;
}

@utility tag-tri {
  @apply before:content-[''] before:absolute before:top-2 before:left-2 before:border-t-[10px] before:border-t-black before:border-r-[10px] before:border-r-transparent 
         after:content-[''] after:absolute after:bottom-2 after:right-2 after:border-b-[10px] after:border-b-black after:border-l-[10px] after:border-l-transparent;
}

@layer components {
  .flex-between {
    @apply flex justify-between items-center;
  }

  /* Text Styles */
  .text-30-extrabold {
    @apply text-[30px] font-extrabold text-white;
  }

  .text-30-bold {
    @apply text-[30px] font-bold text-black;
  }

  .text-30-semibold {
    @apply font-semibold text-[30px] text-black;
  }

  .text-26-semibold {
    @apply font-semibold text-[26px] text-black;
  }

  .text-24-black {
    @apply text-[24px] font-black text-black;
  }

  .text-20-medium {
    @apply font-medium text-[20px] text-black;
  }

  .text-16-medium {
    @apply font-medium text-[16px] text-black;
  }

  .text-14-normal {
    @apply font-normal text-sm text-white-100/80;
  }

  /* Containers */
  .main_container {
    @apply w-full bg-primary min-h-[530px] pattern flex justify-center items-center flex-col py-10 px-6;
  }

  .section_container {
    @apply px-6 py-10 max-w-7xl mx-auto;
  }

  /* Typography */
  .tag {
    @apply bg-secondary px-6 py-3 font-work-sans font-bold rounded-sm uppercase relative tag-tri;
  }

  .heading {
    @apply uppercase bg-black px-6 py-3 font-work-sans font-extrabold text-white sm:text-[54px] sm:leading-[64px] text-[36px] leading-[46px] max-w-5xl text-center my-5;
  }

  .sub-heading {
    @apply font-medium text-[20px] text-white max-w-2xl text-center break-words;
  }

  .grid_card {
    @apply grid md:grid-cols-3 sm:grid-cols-2 gap-5;
  }

  .grid_card-sm {
    @apply grid sm:grid-cols-2 gap-5;
  }

  /* No Results */
  .no-result {
    @apply text-black-100 text-sm font-normal;
  }

  /* Profile */
  .profile_container {
    @apply w-full pb-10 pt-20 px-6 max-w-7xl mx-auto lg:flex-row flex-col flex gap-10;
  }

  .profile_card {
    @apply w-80 px-6 pb-6 pt-20 flex flex-col justify-center items-center bg-primary border-[5px] border-black shadow-100 rounded-[30px] relative z-0 h-fit max-lg:w-full;
  }

  .profile_title {
    @apply w-11/12 bg-white border-[5px] border-black rounded-[20px] px-5 py-3 absolute -top-9 shadow-100;
  }

  .profile_image {
    @apply rounded-full object-cover border-[3px] border-black;
  }

  /* Idea Details */
  .divider {
    @apply border-dotted bg-zinc-400 max-w-4xl my-10 mx-auto;
  }

  .view_skeleton {
    @apply bg-zinc-400 h-10 w-24 rounded-lg fixed bottom-3 right-3;
  }

  /* Navbar */
  .avatar {
    @apply p-0 focus-visible:ring-0 bg-none rounded-full drop-shadow-md;
  }

  .dropdown-menu {
    @apply w-56 border-[5px] border-black bg-white p-5 rounded-2xl;
  }

  .login {
    @apply border-[5px] py-4 border-black bg-white text-black shadow-100 font-work-sans font-medium transition-all duration-500 hover:shadow-none;
  }

  /* Search Form */
  .search-form {
    @apply max-w-3xl w-full min-h-[80px] bg-white border-[5px] border-black rounded-[80px] text-[24px] mt-8 px-5 flex flex-row items-center gap-5;
  }

  .search-input {
    @apply flex-1 font-medium placeholder:font-semibold placeholder:text-black-100 w-full h-auto outline-none;
  }

  .search-btn {
    @apply size-[50px] rounded-full bg-black flex justify-center items-center hover:bg-black-100 active:bg-black-200;
  }

  /* project Card */
  .project-card {
    @apply bg-white border-[5px] border-black py-6 px-5 rounded-[22px] shadow-200 hover:border-primary transition-all duration-500 hover:shadow-300 hover:bg-primary-100;
  }

  .project-card_date {
    @apply font-medium text-[16px] bg-primary-100 px-4 py-2 rounded-full;
  }

  .project-card_desc {
    @apply font-normal text-[16px] line-clamp-2 my-3 text-black-100 break-all;
  }

  .project-card_img {
    @apply w-full h-[164px] rounded-[10px] object-cover;
  }

  .project-card_btn {
    @apply rounded-full bg-black-200 font-medium text-[16px] text-white px-5 py-3;
  }

  .project-card_skeleton {
    @apply w-full h-96 rounded-[22px] bg-zinc-400;
  }

  /* project Form */
  .project-form {
    @apply max-w-2xl mx-auto bg-white my-10 space-y-8 px-6;
  }

  .project-form_label {
    @apply font-bold text-[18px] text-black uppercase;
  }

  .project-form_input {
    @apply border-[3px] border-black px-5 py-7 text-[18px] text-black font-semibold rounded-full mt-3 placeholder:text-black-300;
  }

  .project-form_textarea {
    @apply border-[3px] border-black p-5 text-[18px] text-black font-semibold rounded-[20px] mt-3 placeholder:text-black-300;
  }

  .project-form_error {
    @apply text-red-500 mt-2 ml-5;
  }

  .project-form_editor {
    @apply mt-3 border-[3px] border-black text-[18px] text-black font-semibold placeholder:text-black-300;
  }

  .project-form_btn {
    @apply bg-primary border-[4px] border-black rounded-full p-5 min-h-[70px] w-full font-bold text-[18px];
  }

  /* View */
  .view-container {
    @apply flex justify-end items-center mt-5 fixed bottom-3 right-3;
  }

  .view-text {
    @apply font-medium text-[16px] bg-primary-100 px-4 py-2 rounded-lg capitalize;
  }

  .category-tag {
    @apply font-medium text-[16px] bg-primary-100 px-4 py-2 rounded-full;
  }
}

.w-md-editor-toolbar {
  padding: 10px !important;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

* {
  box-sizing: border-box;
}
